@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<PageTitle>Procutts</PageTitle>

<div class="container row h-100 bg-dark text-light minWidth">
    <div class="col-8">
        <h1>Estimated Time for Haircut: </h1>
        <div class="circle col"></div>
    </div>
    <div class="col-4">right</div>

</div>

@code {
    private HubConnection? hubConnection;
    private List<string> users = new List<string>();
    private string? userInput;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/signalr"))
        .Build();

        hubConnection.On<List<string>>("Update", (current) =>
        {
            users = current;
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    private async Task addUser()
    {
        if (hubConnection is not null && userInput != "")
        {
            await hubConnection.SendAsync("addUser", userInput);
        }
    }

    private async Task rmUser()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("rmUser");
        }
    }

    public bool IsConnected =>
    hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}