@inherits LayoutComponentBase

<PageTitle>Barbershop</PageTitle>
<link href="css/Navbar.css" rel="stylesheet" />

<div class="page bg-dark h-100 minHeight">
    <main>
        <Navbar />
        @Body
    </main>
</div>
