<div class="navbar bg-dark text-light d-flex justify-content-around">
    <h1 class="Logo">Procutts</h1>
    <ul class="navLinks d-flex justify-content-between col-4">
        <li><a href="About Me">About me</a></li>
        <li><a href="Contact Me">Contact me</a></li>
        <li><a href="Feedback">Feedback</a></li>
    </ul>
</div>